* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url("image/hero.jpg");
  height: 300px;
}
nav {
  /* height: 100px; */
  position: relative;
  width: 100%;
  display: inline-block;


}
.menu {
  margin-left: 550px;
}

.logo {
  display: inline-block;
  position: relative;
  top: 20px;
  left: 15%;

}
li {
  position: relative;
  color: white;
  display: inline-block;
}
section {
  /* background: green; */
  /* height: 200px; */
}
#first {
  background-color: white;
}
#second {
  background-image: url("image/oldman.jpg");
  background-color: white;
  background-repeat: no-repeat;
  height: 800px;
  margin-bottom: 300px;
  text-align: center;
  }
.centralbox {
  width: 90%;
  margin: 0 auto;
}

.col {
  float: left;
  text-align: center;
}
.mezzi {
  width: 30%;
  margin-left: 10%;
}
/* .row {
  height: 300px;
  background-color: #ffffff; */
}
.row::after {
  display: table;
  content: "";
  clear: both;
}

.centralbox::after {
  display: table;
  content: "";
  clear: both;
}

a {
  text-decoration: none;
}
#second::after {
  display: table;
  content: "";
  clear: both;
}
.sx {
  margin-top: 800px;
  margin-left: 15%;
  text-align: left;
}
#iphone {
  width: 30%;
  float: left;
  margin-top: 400px;
}
.dx {
  margin-top: 800px;
}
.scooter {
  background-image: url("image/scooter.jpg");
  height: 300px;
}
